{{page-title "Dummy"}}

<h2 id="title">Ember Boring Avatar Test</h2>
<div>
  <Avatar @name="Sally Sells" />
</div>
<div>
  <Avatar @name="Sally Sea" />
</div>
<div>
  <Avatar @name="Sally Shells" />
</div>

{{outlet}}
